USE [ForumExample]
GO
/****** Object:  Table [dbo].[Person]    Script Date: 1/3/2023 3:32:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Person](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
 CONSTRAINT [PK_Person] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Person] ON 

INSERT [dbo].[Person] ([Id], [FirstName], [LastName]) VALUES (1, N'Darnell', N'Blanchard')
INSERT [dbo].[Person] ([Id], [FirstName], [LastName]) VALUES (2, N'Rusty', N'Cherry')
INSERT [dbo].[Person] ([Id], [FirstName], [LastName]) VALUES (3, N'Sammy', N'Mccoy')
GO
SET IDENTITY_INSERT [dbo].[Person] OFF
GO
