@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="mt-4 p-5 bg-primary text-white text-center rounded bg-opacity-75 shadow-sm">
    <h1>Working with Razor Pages</h1>
</div>

